@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: "Inter", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F3F5;
  color: #00363D;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::selection {
  background-color: #A9FDAC;
  color: #00363D;
}

@layer utilities {
  .grain {
    background-image: radial-gradient(
      rgba(255, 255, 255, 0.04) 1px,
      transparent 1px
    );
    background-size: 4px 4px;
  }
}
